* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background-color: #e4e4e4;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}
.hidden {
  display: none;
}
.zero-height {
  height: 0 !important;
}
#animate {
  position: absolute;
  background-color: #c5c5c5;
  width: 100%;
  height: 100vh;
  color: #141414;
  font-size: 70px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#animate div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  animation: load 1000ms infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 3px #e4e4e4;
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    letter-spacing: 2px;
    opacity: 0.08;
    filter: blur(3px);
  }
}
#cookies-box {
  background-color: #e4e4e4;
  height: 35px;
  line-height: 32px;
  text-align: center;
  position: relative;
  transition: all 200ms ease 0s;
  overflow: hidden;
}
#cookies-box span i {
  padding: 0px 10px;
  position: absolute;
  display: fixed;
  right: 200px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
#cookies-box p {
  font-weight: 100;
}
#cookies-box p a {
  color: #850000;
  text-decoration: none;
  margin-left: 10px;
  display: inline;
}
#cookies-box p a i {
  margin-left: 1px;
}
#black-navbar {
  background-color: #151515;
  width: 100%;
  height: 28px;
  color: #d2d2d2;
  font-weight: 100;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#black-navbar ul {
  width: 70%;
  margin: 0px auto;
  list-style-type: none;
  display: flex;
  justify-content: end;
}
#black-navbar ul li {
  cursor: pointer;
  padding: 2px 5px;
  margin: 0px 15px;
  transition: all 400ms ease 0s;
}
#black-navbar ul li i {
  margin: 0px 5px;
}
#black-navbar ul .black-navbar-active {
  background-color: #e4e4e4;
  color: #151515;
}
#corporate-list {
  width: 100%;
  height: 200px;
  font-size: 20px;
  background-color: #6d6d6d;
  font-weight: 400;
}
#corporate-list ul {
  padding-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
#corporate-list ul li {
  cursor: pointer;
  transition: all 400ms ease 0s;
}
#corporate-list ul li:hover {
  text-shadow: 0px 0px 10px #151515;
}
