@color-white: rgb(228, 228, 228);
@color-white-darker: rgb(210, 210, 210);
@color-black: rgb(21, 21, 21);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    // background-color: @color-white;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

.zero-height {
    height: 0 !important;
}

// loading screen 
#animate {
    position: fixed;
    background-color: rgb(197, 197, 197);
    width: 100%;
    height: 100vh;
    bottom: 0;
    top: 0;
    color: rgb(20, 20, 20);
    font-size: 70px;
    z-index: 100;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: auto;
        animation: load 1000ms infinite 0s ease-in-out;
        animation-direction: alternate;
        text-shadow: 0 0 3px @color-white-darker;

        @keyframes load {
            0% {
                opacity: 1;
            }

            100% {
                letter-spacing: 2px;
                opacity: 0.08;
                filter: blur(3px);
            }
        }
    }
}

// cookies box 
#cookies-box {
    background-color: @color-white;
    width: 100%;
    height: 35px;
    line-height: 32px;
    text-align: center;
    position: relative;
    transition: all 200ms ease 0s;
    overflow: hidden;

    span {
        i {
            width: 5%;
            padding: 0px 10px;
            position: absolute;
            display: fixed;
            right: 20px;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
        }
    }

    p {
        font-weight: 100;
        width: 90%;

        a {
            color: rgb(133, 0, 0);
            text-decoration: none;
            margin-left: 10px;
            display: inline;

            i {
                margin-left: 1px;
            }
        }
    }
}

// black navbar 
#black-navbar {
    background-color: @color-black;
    width: 100%;
    height: 28px;
    color: rgb(210, 210, 210);
    font-weight: 100;


    ul {
        width: 70%;
        margin: 0px auto;
        list-style-type: none;
        display: flex;
        justify-content: end;

        li {
            cursor: pointer;
            padding: 2px 5px;
            margin: 0px 15px;
            transition: all 400ms ease 0s;


            i {
                margin: 0px 5px;
            }
        }

        .black-navbar-active {
            background-color: @color-white-darker;
            color: @color-black;
        }
    }
}

// corporate
#corporate-list {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: @color-white-darker;
    transition: all 500ms ease 0s;

    ul {
        padding-top: 80px;
        list-style-type: none;
        display: flex;
        font-size: 15px;
        justify-content: space-around;
        font-weight: 300;

        li {
            cursor: pointer;
            padding: 5px 10px;
            font-size: 19px;
            transition: all 400ms ease 0s;

            p {
                font-size: 13px;
                font-weight: 100;
            }

            &:hover {
                text-decoration: underline;
            }

            i {
                transition: all 300ms ease 0s;
            }

            &:hover i {
                padding-left: 5px;
                color: rgb(188, 0, 0);
            }
        }

    }
}

// World Wide
#Worldwide {
    width: 100%;
    height: 500px;
    font-size: 20px;
    overflow: hidden;
    border-bottom: 1px solid @color-black;
    background-color: @color-white-darker;
    transition: all 500ms ease 0s;

    h2 {
        font-size: 25px;
        padding: 40px 0px 20px 40px;
        font-weight: 400;
        font-size: 27px;
    }

    ul {
        margin: 0px auto;

        li {
            display: inline-block;
            width: 18%;
            font-weight: 100;
            font-size: 16px;
            padding: 10px;
            text-align: center;
            border-radius: 20px;
            transition: all 300ms ease 0s;

            a {
                color: @color-black;
                text-decoration: none;
                padding: auto 18%;

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }

}

// big image
#big-images {
    div {
        position: relative;

        img {
            display: block;
            margin: 0px auto;
        }

        button {
            position: absolute;
            top: 50%;
            right: 25%;
            padding: 15px 60px;
            font-weight: 400;
            font-size: 16px;
            background-color: transparent;
            border: 1px solid black;

            &:hover {
                background-color: rgb(199, 0, 11);
                border: 1px solid rgb(199, 0, 11);
                color: white;
                cursor: pointer;
            }
        }
    }
}

// album image
#image-album {

    margin: 40px auto;

    h2 {
        font-size: 1.9em;
        font-weight: 400;
        text-align: center;
        padding-bottom: 6px;
    }

    #image-album-div {
        table {
            border-collapse: collapse;

            td {
                overflow: hidden;
                position: relative;
                border: 20px solid transparent;
                cursor: pointer;
                border-radius: 30px;
                color: @color-white-darker;

                img {
                    width: 100%;
                    scale: 1.05;
                    transition: all 400ms ease 0s;

                }

                &:hover img {
                    filter: brightness(70%) blur(2px) grayscale(60%);
                    scale: 1.12;
                }

                div {
                    position: absolute;
                    width: 90%;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: all 500ms ease 0s;

                    p {
                        font-size: 0.91em;
                    }

                    h4 {
                        font-size: 1.1em;
                        font-weight: 500;
                        color: @color-white;
                    }

                    a {
                        display: inline-block;
                        text-decoration: none;
                        color: @color-white-darker;
                    }

                }

                &:hover div {
                    opacity: 1;
                    top: 80%;
                }
            }
        }
    }
}

// mid image
#mid-big-images {
    div {
        position: relative;
        overflow: hidden;

        img {
            display: block;
            margin: 0px auto;
        }

        button {
            position: absolute;
            top: 70%;
            right: 30%;
            padding: 15px 55px;
            font-weight: 400;
            font-size: 16px;
            background-color: transparent;
            border: 1px solid black;

            &:hover {
                background-color: rgb(199, 0, 11);
                border: 1px solid rgb(199, 0, 11);
                color: white;
                cursor: pointer;
            }
        }
    }
}

@media all and (max-width:575.98px) {}

@media all and (min-width:576px) and (max-width:767.98px) {}

@media all and (min-width:768px) and (max-width:991.98px) {}

@media all and (min-width:992px) and (max-width:1119.98px) {}

@media all and (min-width:1200px) and (max-width:1399.98px) {}

@media all and (min-width:1400px) {}


@media all and (max-width:1950px) {
    #big-images {
        div {
            img {
                width: 100%;
            }
        }
    }

    #mid-big-images {
        div {
            img {
                width: 100%;
            }
        }
    }
}